<a href="https://colab.research.google.com/github/cassiogiehl/AddressToLatLong/blob/master/store_item_demand_forecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Store Item Demand Forecasting Only

O objetivo desta competição é descobir quantos e quais itens serão vendidos nos próximos 3 meses para cada loja.

## Importando as bibliotecas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Lendo os arquivos de treino e teste

In [15]:
df = pd.read_csv('/content/train.csv', sep=',', error_bad_lines=False)
df.head()

b'Skipping line 57968: expected 4 fields, saw 7\n'

         date  store  item  sales
0  2013-01-01      1   1.0   13.0
1  2013-01-02      1   1.0   11.0
2  2013-01-03      1   1.0   14.0
3  2013-01-04      1   1.0   13.0
4  2013-01-05      1   1.0   10.0

In [12]:
df_test = pd.read_csv('/content/test.csv', sep=',', error_bad_lines=False)
df_test.head()

   id        date  store  item
0   0  2018-01-01      1     1
1   1  2018-01-02      1     1
2   2  2018-01-03      1     1
3   3  2018-01-04      1     1
4   4  2018-01-05      1     1

## Análise exploratória

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225296 entries, 0 to 225295
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    225296 non-null  object
 1   store   225296 non-null  int64
 2   item    225295 non-null  float64
 3   sales   225293 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.9+ MB

In [22]:
df.describe()

               store           item          sales
count  225296.000000  225295.000000  225293.000000
mean        5.409195      15.446614      46.697820
std         2.888359      12.242579      28.303725
min         1.000000       1.000000       0.000000
25%         3.000000       4.000000      24.000000
50%         5.000000       7.000000      41.000000
75%         8.000000      28.000000      64.000000
max        34.000000      31.000000     206.000000

### Tratando valores nulos

In [23]:
df.isna().sum()

date     0
store    0
item     1
sales    3
dtype: int64

In [33]:
df_test.isna().sum()

id       0
date     0
store    0
item     0
dtype: int64

In [35]:
item_is_na = (df.item.isna())
sales_is_na = (df.sales.isna())
drop_records = df[item_is_na | sales_is_na].index

Int64Index([112632, 170672, 225295], dtype='int64')

In [36]:
df.drop(drop_records, inplace=True)

In [37]:
date_sales = df[]

date     0
store    0
item     0
sales    0
dtype: int64